---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
const baseUrl: string = Astro.url?.pathname ?? '/';
import koblenz01 from '../../public/img/koblenz01.png';
import koblenz02 from '../../public/img/koblenz02.png';
import koblenz03 from '../../public/img/koblenz03.png';
import koblenz04 from '../../public/img/koblenz04.png';
import pkRound from '../../public/img/pk-round.png';
---

<Layout>
	<div class="mt-[5%]">
		<h1 class="mb-5 font-black tracking-tight text-txt-header ~/lg:~text-4xl/7xl">
			Sobre mi
		</h1>
		<div class="flex-col text-txt-body ~/lg:~text-sm/xl sm:columns-2">
			<Image
				src={pkRound}
				alt="Peter Kerschbaumer"
				loading="lazy"
				decoding="async"
				class="circle-flow w-1/2"
			/>
			<p class="mb-3">
				¡Hola! Soy Peter, un alemán nativo de Koblenz (Coblenza), apasionado por ayudarte
				a aprender alemán de forma natural y con confianza. Mi propio recorrido en el
				aprendizaje de idiomas ha moldeado mi forma de enseñar. A los 21 años me mudé a
				Estocolmo, Suecia, sin ningún conocimiento previo de sueco. A través de hablar,
				escuchar, leer y escribir, no solo dominé el idioma, sino que también me convertí
				en editor en jefe de una revista de informática sueca. Ahora, viviendo en
				Barcelona, he afrontado otro desafío lingüístico más, lo que me da una comprensión
				profunda de lo que se siente estar en tu lugar.
			</p>

			<p class="my-3">
				Creo que la mejor manera de aprender un idioma es usándolo. Por eso el enfoce de
				mis clases se centran es la conversación y habilidades prácticas, con la gramática
				introducida de forma natural como parte del proceso. Cada sesión es individual y
				se adapta a tus necesidades únicas, asegurando que te sientas apoyado y empoderado
				en cada paso del camino.
			</p>
			<p class="my-3">
				Ya sea que estés preparándote para un examen, avanzando en tu carrera o
				aprendiendo por enriquecimiento personal, te ayudaré a visualizar y lograr tu
				meta: hablar alemán con fluidez, orgullo y confianza.
			</p>
			<p class="my-3 mb-10 font-semibold">¡Comencemos este viaje juntos!</p>
			<div>
				<figure class="relative border-8 border-accent2 sm:rounded-md">
					<Image src={koblenz01} alt="Koblenz" loading="lazy" decoding="async" class="" />
					<figcaption
						class="absolute bottom-2 mx-2 block bg-black bg-opacity-30 px-2 pb-1 text-xs text-white"
					>
						Deutsches Eck (en español Rincón Alemán) es el nombre de una pequeña península
						en Coblenza (Alemania) formada en la desembocadura del río Mosela en el Rin
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="grid gap-2 sm:mt-10 sm:flex-none sm:grid-cols-3">
			<!-- <div class="grid-cols-3"> -->
			<figure
				class="relative mt-2 rounded-md border-8 border-accent2 sm:origin-bottom-right sm:rotate-3"
			>
				<Image src={koblenz02} alt="Koblenz" loading="lazy" decoding="async" class="" />
				<figcaption
					class="absolute bottom-2 mx-2 block bg-black bg-opacity-30 px-2 pb-1 text-xs text-white"
				>
					La fortaleza de Ehrenbreitstein (en alemán: Festung Ehrenbreitstein) es una
					fortaleza construida en el siglo XVI en Coblenza.
				</figcaption>
			</figure>

			<figure
				class="relative rounded-md border-8 border-accent2 sm:origin-bottom-left sm:-rotate-6"
			>
				<Image src={koblenz03} alt="Koblenz" loading="lazy" decoding="async" class="" />
				<figcaption
					class="absolute bottom-2 mx-2 block bg-black bg-opacity-30 px-2 pb-1 text-xs text-white"
				>
					Coblenza es una cidudad fundado hace mas de 2000 mil años y tiene muchos
					rincones bonitos.
				</figcaption>
			</figure>

			<figure
				class="relative rounded-md border-8 border-accent2 sm:origin-top-right sm:rotate-6"
			>
				<Image src={koblenz04} alt="Koblenz" loading="lazy" decoding="async" class="" />
				<figcaption
					class="absolute bottom-2 mx-2 block bg-black bg-opacity-30 px-2 pb-1 text-xs text-white"
				>
					En en alrededor de Coblenza se encuantran muchos casteles medivales.
				</figcaption>
			</figure>
		</div>
	</div>
</Layout>

<style>
	blob_img {
		max-width: 100%;
		clip-path: circle(50%);
		shape-outside: circle(100%);
		shape-margin: 20px;
		float: right;
	}

	.circle-flow {
		float: left;
		border-radius: 50%; /* Make it circular */
		margin: 10px;
		shape-outside: circle(); /* Define the circular shape for the text to wrap around */
		clip-path: circle(); /* Ensures the visible area is also circular */
	}
</style>
