---
import { Icon } from 'astro-icon/components';
import data from '../data/pricing.json';
import Button from './Button.astro';
const basePath = import.meta.env.BASE_URL;
---

<section class="pricing-wrapper mb-10 grid place-items-center justify-center gap-2 py-10">
	<div class="grid-sm mb-10 text-center sm:mb-20">
		<h2
			id="pricing"
			class="font-black leading-tight tracking-tight text-txt-header ~/lg:~text-3xl/6xl"
		>
			Un Precio para Todos
		</h2>
		<p class="mt-3 ~/lg:~text-sm/3xl">
			Ya sea que tengas prisa y quieras aprender intensivamente o prefieras estudiar a tu
			propio ritmo. Tengo una oferta para cada necesidad.
		</p>
		<p class="text-pretty pt-4 ~/lg:~text-xs/xl">
			Tienes necesidades especiales?

			<!-- Mobile link -->
			<a
				href="https://wa.me/34673721006"
				class="bg-accent1 text-sm font-semibold no-underline decoration-red-600 underline-offset-4 sm:hidden"
			>
				Cont치ctame
			</a>

			<!-- Desktop link -->
			<a
				href={`${basePath}` + '#pricing'}
				data-modal-trigger="modal-contact"
				class="hidden font-semibold underline decoration-red-600 underline-offset-4 hover:bg-accent1 sm:inline sm:hover:underline"
			>
				Cont치ctame
			</a>

			, y encontramos una soluci칩n.
		</p>
	</div>

	<div
		class="pricing-container container-sm grid grid-cols-1 gap-2 sm:grid-cols-3 lg:mx-10"
		id="pricing"
	>
		{
			data.map((card, index) => (
				<div
					id={card.id}
					class={`pricing-card relative w-full border bg-yellow-400 p-3 text-center ${
						card?.featured
							? "z-10 order-1 border-4 border-purple-600 font-semibold text-txt-header before:absolute before:left-1/2 before:top-[-1.3rem] before:-translate-x-1/2 before:whitespace-nowrap before:rounded-full before:bg-purple-600 before:px-4 before:py-2 before:text-center before:text-sm before:uppercase before:text-white before:content-['M치s_Popular'] sm:order-none sm:col-start-2 sm:row-start-1 sm:scale-110"
							: 'order-2 border-black sm:order-none'
					}`}
				>
					<h3 class="pricing-card-pill my-2 font-bold tracking-tight ~text-xl/2xl">
						{card.title}
					</h3>
					<p class="pricing-card-description mb-3 text-pretty ~text-xs/base">
						{card.description}
					</p>

					<p class="pricing-card-price text-txt mb-3 font-black ~text-3xl/5xl">
						{card.price}
					</p>

					<ul class="pricing-card-feature-container mb-2 grid gap-2">
						{card.details.map((feature) => (
							<li class="pricing-card-feature flex items-start gap-2">
								<Icon
									name="fe:check-circle-o"
									size="1.5rem"
									class={`${card?.featured ? 'text-purple-600' : 'text-muted'} shrink-0`}
								/>
								<span class="flex-1 text-left">{feature}</span>
							</li>
						))}
					</ul>

					<Button
						isHoverEffectEnabled={card.button.isHoverEffectEnabled}
						text={card.button.text}
						style={`sm:text-sm ${
							card?.featured
								? 'bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white shadow-md hover:shadow-none shadow-yellow-800'
								: 'border-1 border-black border shadow-yellow-700/65 shadow-md hover:shadow-none'
						}`}
						link={card.button.url}
						onclick="Calendly.initPopupWidget({url: 'https://calendly.com/peter-kerschbaumer/clase-de-aleman'});return false;"
					/>
				</div>
			))
		}
	</div>
	<p class="text-pretty pt-4 ~/lg:~text-xs/base">Pago con Bizum o tarjeta.</p>

	<!-- Calendly link widget begin -->
	<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
	<script
		src="https://assets.calendly.com/assets/external/widget.js"
		type="text/javascript"
		async></script>
	<!-- <a
	href=""
	onclick="Calendly.initPopupWidget({url: 'https://calendly.com/peter-kerschbaumer/clase-de-aleman'});return false;"
	>Schedule time with me</a
> -->
	<!-- Calendly link widget end -->
</section>
